@* @namespace CenterOfExcellence.Components.WhyDrLalPathLabs *@

<section class="py-12 px-4 bg-white">
    <div class="max-w-7xl mx-auto">
        <!-- Header Section -->
        <div class=" mb-12 text-center">
            <h1 class="font-heading text-[35px] leading-heading text-black mb-6">Why Dr Lal PathLabs</h1>
            <p class="font-paragraph text-[18px] leading-paragraph text-gray-700">
                At Dr Lal PathLabs, we enable healthy lives through unmatched diagnostic expertise and 
                new-age technology.
            </p>
        </div>

        <!-- Main Content Flex -->
        <div class="flex flex-col md:flex-row gap-12 items-start ">

            
            <!-- Statistics Flex -->
            <div class="flex flex-row justify-center  flex-wrap  gap-4 border-2 border-red-500 w-full">
                <!-- Statistic Card 1 -->
                <div class="text-center w-[47%]  md:w-[35%] mb-6 shadow-md py-4">
                    <div class="mb-4">
                        <i class="fa-solid fa-flask text-5xl text-blue-950"></i>
                    </div>
                    <h3 class="font-heading text-[35px] leading-heading text-blue-950 mb-2">50M+</h3>
                    <p class="font-paragraph text-[18px] leading-paragraph text-gray-700">Samples Collected</p>
                </div>

                <!-- Statistic Card 2 -->
                <div class="text-center w-[47%]  md:w-[35%] mb-6 shadow-md py-4 rounded-sm">
                    <div class="mb-4">
                        <i class="fa-solid fa-microscope text-5xl text-blue-950"></i>
                    </div>
                    <h3 class="font-heading text-[35px] leading-heading text-blue-950 mb-2">280+</h3>
                    <p class="font-paragraph text-[18px] leading-paragraph text-gray-700">Satellite Labs</p>
                </div>

                <!-- Statistic Card 3 -->
                <div class="text-center  w-[47%]  md:w-[35%]   mb-6 shadow-md py-4">
                    <div class="mb-4">
                        <i class="fa-solid fa-hand-holding-heart text-5xl text-blue-950"></i>
                    </div>
                    <h3 class="font-heading text-[35px] leading-heading text-blue-950 mb-2">50+</h3>
                    <p class="font-paragraph text-[18px] leading-paragraph text-gray-700">Quality Checks</p>
                </div>

                <!-- Statistic Card 4 -->
                <div class="text-center w-[47%]  md:w-[35%]  mb-6 shadow-md py-4">
                    <div class="mb-4">
                        <i class="fa-solid fa-users text-5xl text-blue-950"></i>
                    </div>
                    <h3 class="font-heading text-[35px] leading-heading text-blue-950 mb-2">800M+</h3>
                    <p class="font-paragraph text-[18px] leading-paragraph text-gray-700">Visitors</p>
                </div>
            </div>

            <!-- Image Section -->
            <div class="flex justify-center">
                <div class="relative">
                    <img src="https://images.unsplash.com/photo-1582719471384-894fbb16e074?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80" 
                         alt="Laboratory scientist working with microscope" 
                         class="w-[700px] h-[370px] rounded-lg shadow-lg object-cover" />
                </div>
            </div>
        </div>
    </div>
</section> 