@if (IsOpen)
{
    <div class="md:hidden fixed top-0 left-0 w-[100%] h-full bg-[#333333] z-30 shadow-lg
                transition-transform duration-500 ease-in-out transform" style="transform: translateX(0); opacity: 1;">

    <div class="flex flex-col items-start justify-center h-full gap-10 px-6">

        <button @onclick="OnToggle" class="absolute top-4 right-4 focus:outline-none">
            <i class="fa-solid fa-xmark text-5xl text-white cursor-pointer hover:text-red-800 transition-all"></i>
        </button>

        <NavLinkItem href="/" text="Home" borderTop="true" borderBottom="true" />
        <NavLinkItem href="/about" text="About" />
        <NavLinkItem href="/contact" text="Contact" />
        <NavLinkItem href="/sample-registration" text="Sample Registration" />

        <button class="bg-blue-950 hover:bg-red-800 text-white px-10 py-2 rounded w-full">Sign Up</button>
    </div>
</div>
}
else
{
    <div class="md:hidden fixed top-0 left-0 w-[100%] h-full bg-teal-600 z-30 shadow-lg
                transition-transform duration-500 ease-in-out transform"
    style="transform: translateX(-100%); opacity: 0;">
</div>
}

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback OnToggle { get; set; }
}
