@if (IsOpen)
{
    <div class="md:hidden fixed top-0 left-0 w-[100%] h-full bg-teal-600 z-30 shadow-lg
                transition-transform duration-500 ease-in-out transform"
        style="transform: translateX(0); opacity: 1;">

        <div class="flex flex-col items-start justify-center h-full gap-10 px-6">

            <button @onclick="OnToggle" class="absolute top-4 right-4 focus:outline-none">
                <svg class="w-12 h-12 text-white bg-slate-600 rounded-full" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>

            <NavLinkItem href="/" text="Home" borderTop="true" borderBottom="true" />
            <NavLinkItem href="/about" text="About" />
            <NavLinkItem href="/contact" text="Contact" />

            <button class="bg-blue-950 hover:bg-red-800 text-white px-4 py-2 rounded w-full">Sign Up</button>
        </div>
    </div>
}
else
{
    <div class="md:hidden fixed top-0 left-0 w-[100%] h-full bg-teal-600 z-30 shadow-lg
                transition-transform duration-500 ease-in-out transform"
        style="transform: translateX(-100%); opacity: 0;">
    </div>
}

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback OnToggle { get; set; }
}

