<section class="relative w-full h-[100vh] flex items-center justify-center overflow-hidden">
    <video autoplay muted loop class="absolute w-full h-full object-cover">
        <source src="images/bgvideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>


    <div class="absolute inset-0 bg-black bg-opacity-50"></div>

    <div class="relative z-10 flex items-center flex-col gap-10 text-center  py-10 px-2 ">
        <h1 class="font-heading text-[35px] leading-heading text-white w-[100%] md:w-[800px]">Experience the Future
            Experience the Future </h1>
        <p class="font-subHeading text-[16px] leading-paragraph text-white w-[100%] md:w-[600px]">
            Innovate, Create, and Inspire with Cutting-edge Technology. Innovate, Create, and Inspire with Cutting-edge
            Technology.
            
        </p>

        <CustomButton Text="Submit" Variant="ButtonVariant.Primary" OnClick="@HandleClick" />
    </div>
</section>

@code {
    private void HandleClick()
    {
        Console.WriteLine("Button Clicked!");
    }
}
