<div class="flex items-center flex-col gap-4 py-12 text-center">
    <h1 class="font-heading text-[35px] leading-heading text-center">Quality, Accreditation & Certifications</h1>
    <p class="font-paragraph text-[18px] leading-paragraph text-center">We uphold the highest standards of quality with
        rigorous checks
        and real-time monitoring.</p>

    <QualityHighlightsList />

    @* <CustomButton Text="Start Exploring" Variant="ButtonVariant.Primary" /> *@

</div>