@inherits LayoutComponentBase

<div class="flex items-center justify-center h-[100vh] w-[100vw] px-2" style="background: black; border: 3px solid red;" >

  
 <main class="bg-slate-600" style="background: black;">
        @Body
    </main>

</div>

@* <div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div> *@
