@namespace CenterOfExcellence.Components.Common.Buttons

<button class="@ButtonStyles.GetClass(Variant)"
        disabled="@IsDisabled"
        @onclick="OnClick">
    @Text
</button>

@code {
    [Parameter] public string Text { get; set; } = "Click Me";
    [Parameter] public ButtonVariant Variant { get; set; } = ButtonVariant.Primary;
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public bool IsDisabled { get; set; } = false;
}
