@namespace CenterOfExcellence.Components.Common.Buttons

<button class="@ButtonStyles.GetClass(Variant) relative flex items-center justify-center gap-2 rounded-lg transition-all duration-300"
        @onclick="OnClick">
    <span>@Text</span>
    
    <div class="absolute right-4 ">
        <i class="fa-solid @Icon text-lg"></i>
    </div>
</button>


@code {
    [Parameter] public string Text { get; set; } = "Click Me";
    [Parameter] public string Icon { get; set; } = "fa-arrow-right";
    [Parameter] public ButtonVariant Variant { get; set; } = ButtonVariant.Primary;
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public bool IsDisabled { get; set; } = false;
}
