<div class="hidden md:flex item-start justify-start gap-16">
    <NavLinkItem href="/" text="Home" match="NavLinkMatch.All" />
    <NavLinkItem href="/about" text="About" />
    <NavLinkItem href="/contact" text="Contact" />
    <NavLinkItem href="/counter" text="Counter Page" />
</div>

