<div class="hidden md:flex item-start justify-start gap-2">
    <NavLinkItem href="/" text="Home" match="NavLinkMatch.All" />
    <NavLinkItem href="/sample-registration" text="Book A Test" />
    <NavLinkItem href="/about" text="About" />
    <NavLinkItem href="/contact" text="Contact" />
    
</div>

