
<nav class="navbar bg-dark text-white p-3 w-full bg-slate-600">
    <a href="/" class="navbar-brand text-black">Home</a>
    <a href="/about" class="nav-link text-white">About</a>
    <a href="/contact" class="nav-link text-white">Contact</a>
</nav>
