@inject IJSRuntime JS

<nav class="flex justify-between items-center p-4 bg-[#5A5A5A] text-white relative  h-[40px] py-6">
    <div class="flex flex-row items-center gap-10">
        @* <div class="text-2xl font-bold">
            <h2>MyLogo</h2>
        </div> *@
        <DesktopNav />
    </div>


    <div class="flex items-center md:hidden gap-4">
        <i class="fa-solid fa-magnifying-glass text-2xl cursor-pointer hover:text-red-800 transition-all"></i>
        <i class="fa-solid fa-bag-shopping text-2xl cursor-pointer hover:text-red-800 transition-all"></i>
        <i class="fa-solid fa-user-circle text-2xl cursor-pointer hover:text-red-800 transition-all"></i>

       <button @onclick="ToggleNav" class="focus:outline-none z-50">
    <i class="fa-solid fa-bars-staggered text-4xl cursor-pointer hover:text-red-800 transition-all"></i>
</button>
    </div>

   
    <div class="hidden md:flex space-x-6">
        <i class="fa-solid fa-magnifying-glass text-xl cursor-pointer hover:text-red-800 transition-all"></i>
        <i class="fa-solid fa-bag-shopping text-xl cursor-pointer hover:text-red-800 transition-all"></i>
        <i class="fa-solid fa-user-circle text-xl cursor-pointer hover:text-red-800 transition-all"></i>
    </div>
</nav>

<MobileNav IsOpen="_isNavOpen" OnToggle="ToggleNav" />

@code {
    private bool _isNavOpen = false;

    private void ToggleNav()
    {
        _isNavOpen = !_isNavOpen;
        Console.WriteLine($"Menu toggled: {_isNavOpen}");
    }
}
