<div class="flex items-center flex-col gap-4 py-12 text-center">
    <h1 class="font-heading text-[35px] leading-heading text-center">Popular Tests</h1>
    <p class="font-paragraph text-[18px] leading-paragraph text-center">We uphold the highest standards of quality with
        rigorous checks
        and real-time monitoring.</p>

    <div class="flex items-center flex-col md:flex-row gap-10">

        <Cards Title="Test Name" Icon="fa-tag"
            Texts="@(new List<string> { "Fast Service", "Secure Payment", "Best Quality" })" Row1Label="₹29999"
            Row2Label="₹21999" DiscountPercentage="28" />
        <Cards Title="Test Name" Icon="fa-tag"
            Texts="@(new List<string> { "Fast Service", "Secure Payment", "Best Quality" })" Row1Label="₹29999"
            Row2Label="₹21999" DiscountPercentage="28" />
    </div>

</div>