@* Drawer wrapper *@
<div class="flex justify-between items-center w-full border-4 border-red-500">
    <div class="text-xl font-bold text-black">
        <NavLink href="/">MyBrand</NavLink>
    </div>

    <DrawerLinks CssClass="flex flex-col lg:flex-row lg:gap-4" />
    
    <DrawerToggle />
</div>
