<section class="flex items-center justify-between flex-row w-full px-10 py-2">
    <div>
     <div class="h-12 w-12">
        <image src="/images/globe2.png" />
    </div>
    </div>

    <div class="flex flex-row items-center gap-4">

    <div>
         <a href="mailto:xygggg@gmail.com" class="font-paragraph text-[18px] cursor-pointer">
        xygggg@gmail.com
    </a>
    </div>
   

    <div>
        <a href="tel:+916005493028" class="font-paragraph text-[18px] leading-paragraph cursor-pointer">
        +91 6005493028
    </a>
    </div>
    </div>

</section>