@page "/"
<PageTitle>Home</PageTitle>


<div class="h-[100vh] w-[100vw] flex items-center justify-center  py-10 gap-8 flex-col ">
@* <div 
class="h-[400px] bg-neutral-500 w-[600px]"
>
<h1 class="text-4xl text-red-500 text-center">Hello worlk</h1>

</div> *@
<div 
class="h-[400px] bg-neutral-500 w-[500px]"
>
<h1 class="text-4xl text-red-500 text-center">Hello worlk</h1>

</div>

</div>


