@page "/"
<PageTitle>Home</PageTitle>

<div class=" flex items-center justify-center flex-col">
    <HeroSection />
    <WhyDrLalPathLabs />
    <Testimonials />
    <QualitySection />
    <PopularTestSection />
    <CallBackCTA />
</div>



