@page "/"
<PageTitle>Home</PageTitle>

<div class="h-[100vh] w-[100vw] flex items-center justify-center  py-10 gap-8 bg-black">
    <h1 class="text-4xl text-center h-[400vh]">Hel!</h1>

<h1 class="text-4xl text-center h-[400vh]">Welcome to your new app. </h1>
</div>


