@page "/"
<PageTitle>Home</PageTitle>

<ParallaxScroll>
    <div class="flex items-center justify-center flex-col">
        
            <HeroSection />
      
        
        <div class="reveal-element">
            <WhyDrLalPathLabs />
        </div>
        
        <div class="timeline-animation">
            <Timeline />
        </div>
        
        <div class="reveal-element">
            <Founders />
        </div>
        
        @* <Team /> *@
        
        <div class="stagger-element">
            <Testimonials />
        </div>
        
        <div class="reveal-element">
            <QualitySection />
        </div>
        
        @* <PopularTestSection /> *@
        
        <div class="reveal-element">
            <CallBackCTA />
        </div>
    </div>
</ParallaxScroll>



