@page "/"
<PageTitle>Home</PageTitle>


<div class="h-[100vh] w-[100vw] flex items-center justify-center  py-10 gap-8 flex-col ">
@* <div 
class="h-[400px] bg-neutral-500 w-[600px]"
>
<h1 class="text-4xl text-red-500 text-center">Hello worlk</h1>

</div> *@
<div 
class="h-[400px] bg-neutral-500 w-[500px]"
>
<h1 class="text-4xl text-red-500 text-center">Hello worlk</h1>

</div>

<h3>Counter</h3>

<p>Current count: @count</p>

<button @onclick="IncrementCount" class="bg-blue-500 text-white px-4 py-2 rounded">
    Click me
</button>

@code {
    private int count = 0;

    private void IncrementCount()
    {
        count++;
    }
}


</div>


