@page "/"
<PageTitle>Home</PageTitle>

<div class=" flex items-center justify-center flex-col">
    <HeroSection />
    <WhyDrLalPathLabs />
    <Timeline />
    <Founders />
    @* <Team /> *@
    <Testimonials />
    <QualitySection />
    @* <PopularTestSection /> *@
    <CallBackCTA />
</div>



