@page "/counter" 
@rendermode InteractiveServer   

<PageTitle>Counter</PageTitle>

<h1 class="text-4xl font-bold text-center text-blue-600">Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}