@page "/"
<PageTitle>Home</PageTitle>

<div class="h-[500px] w-[100vw] flex items-center justify-center  border bg-black py-10 gap-8 ">
    <h1 class="text-4xl text-center h-[400vh]">Hello, world!</h1>

<h1 class="text-4xl text-center h-[400vh]">Welcome to your new app. </h1>
</div>


