@import url("css/build.css");

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    
}

.loader-circle {
    width: 130%;
    height: 130%;
    border: 2px solid rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    position: absolute;
}

/* Logo spinning animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-spin {
    animation: spin 5s linear infinite; /* Slower rotation (5s duration) */
}



/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.font-heading {
    @apply text-[35px] font-[700] leading-[1.2] font-['Josefin Sans',sans-serif];
}
.font-subHeading {
    @apply text-[20px] font-[500] leading-[1.4] font-['Josefin Sans',sans-serif];
}
.font-paragraph {
    @apply text-[16px] font-[400] leading-[1.6] font-['EB Garamond',serif];
} */


/* @layer base {
    h1 {
      @apply text-heading font-heading font-bold leading-heading;
    }
  
    h2 {
      @apply text-subHeading font-subHeading font-medium leading-subHeading;
    }
  
    p {
      @apply text-paragraph font-paragraph font-normal leading-paragraph;
    }
  } */

