@import url("css/build.css");

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    
}

/* @layer base {
    h1 {
      @apply text-heading font-heading font-bold leading-heading;
    }
  
    h2 {
      @apply text-subHeading font-subHeading font-medium leading-subHeading;
    }
  
    p {
      @apply text-paragraph font-paragraph font-normal leading-paragraph;
    }
  } */

